* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  text-transform: capitalize;
  color: rgb(65, 61, 61);
  margin-top: 50px;
}
.subtitle {
  color: rgb(65, 61, 61);
  margin-top: 20px;
  margin-bottom: 20px;
}
.controls__options {
  width: 180px;
  height: 27px;
  padding: 3px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: lightgrey solid 2px;
}
.controls__button {
  width: 90px;
  height: 30px;
  font-weight: bold;
  color: white;
  background-color: turquoise;
  border-radius: 5px;
}
.disabled__button {
  background-color: gainsboro;
  color: gray;
}
.game__results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.game__message {
  width: 250px;
  height: 40px;
  padding: 8px;
  background-color: turquoise;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
}
.numbers {
  font-size: 25px;
  color: turquoise;
}
.game__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}
